name: Linux and Windows TestSuite

on:
  push:
    branches:
      - '*'
    tags-ignore:
      - '*'
  pull_request:
    types: [ opened, synchronize, reopened, edited, ready_for_review ]

jobs:

#
# A quick and cheap test first before running other jobs
#

  ubuntu:
    env:
      PERL_USE_UNSAFE_INC: 0
      AUTHOR_TESTING: 1
      AUTOMATED_TESTING: 1
      RELEASE_TESTING: 1

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false

    steps:
      - uses: actions/checkout@v4
      - run: perl -V
      - name: uses install-with-cpm
        uses: perl-actions/install-with-cpm@v1
        with:
          install: "Devel::CheckLib"
          cpanfile: "cpanfile"
      - name: Makefile.PL
        run: perl -I$(pwd) Makefile.PL
      - run: make && ( make test || prove -wbvm t/*.t )

        #TIM  openssl-matrix:
        #TIM    env:
        #TIM      PERL_USE_UNSAFE_INC: 0
        #TIM      AUTHOR_TESTING: 1
        #TIM      AUTOMATED_TESTING: 1
        #TIM      RELEASE_TESTING: 1

        #TIM    runs-on: ubuntu-latest
        #TIM    needs: [ubuntu]
        #TIM    name: "OpenSSL ${{ matrix.os-version }}"

        #TIM    strategy:
        #TIM      fail-fast: false
        #TIM      matrix:
        #TIM        os-version:
        #TIM          - debian:bullseye     # OpenSSL 1.1.1
        #TIM          - debian:bookworm     # OpenSSL 3.0.x
        #TIM          - almalinux:9         # OpenSSL with new crypto policies (RHEL-compatible)

        #TIM    container: ${{ matrix.os-version }}
        #TIM    steps:
        #TIM      - uses: actions/checkout@v4
        #TIM      - name: Install dependencies using apt-get
        #TIM        if: ${{ matrix.os-version == 'debian:bullseye' || matrix.os-version == 'debian:bookworm' }}
        #TIM        run: |
        #TIM          apt-get update
        #TIM          apt-get install -y perl make gcc libsodium-dev sudo curl
        #TIM      - name: Install dependencies using yum
        #TIM        if: ${{ matrix.os-version == 'almalinux:9' }}
        #TIM        run: |
        #TIM          yum install --skip-broken -y perl make gcc libsodium-devel sudo curl
        #TIM      - run: perl -V
        #TIM      - name: uses install-with-cpm
        #TIM        uses: perl-actions/install-with-cpm@v1
        #TIM        with:
        #TIM          install: "Devel::CheckLib"
        #TIM          cpanfile: "cpanfile"
        #TIM      - name: Makefile.PL
        #TIM        run: perl -I$(pwd) Makefile.PL
        #TIM      - run: make && prove -wbvm t/*.t

#
# List of Perl Versions available
#

  perl-versions:
      runs-on: ubuntu-latest
      needs: [ubuntu] # TIM
        # TIM      needs: [openssl-matrix]
      name: List Perl versions
      outputs:
        perl-versions: ${{ steps.action.outputs.perl-versions }}
      steps:
        - id: action
          uses: perl-actions/perl-versions@v1
          with:
            since-perl: v5.42
            with-devel: true

#
# The Perl matrix on linux
#

#TIM  perl:
#TIM    env:
#TIM      PERL_USE_UNSAFE_INC: 0
#TIM      AUTHOR_TESTING: 1
#TIM      AUTOMATED_TESTING: 1
#TIM      RELEASE_TESTING: 1

              #TIM    runs-on: ubuntu-latest
              #TIM    needs: [openssl-matrix,perl-versions]
              #TIM    name: "Perl ${{ matrix.perl-version }}"

              #TIM    strategy:
              #TIM      fail-fast: false
              #TIM      matrix:
              #TIM        perl-version: ${{ fromJson (needs.perl-versions.outputs.perl-versions) }}

              #TIM    container: perldocker/perl-tester:${{ matrix.perl-version }}

              #TIM    steps:
              #TIM      - uses: actions/checkout@v4
              #TIM      - run: perl -V
              #TIM      - name: Deps for testing
              #TIM        run: |
              #TIM          cpanm --notest Devel::CheckLib Alien::Sodium File::Slurper ||:
              #TIM      - run: perl Makefile.PL
              #TIM      - run: make && ( make test || prove -wbvm t/*.t )

#
# Windows
#

  windows:
    env:
      PERL_USE_UNSAFE_INC: 0
      AUTHOR_TESTING: 0
      AUTOMATED_TESTING: 1
      RELEASE_TESTING: 0

    needs: [perl-versions]
    runs-on: windows-latest

    strategy:
      fail-fast: false
      matrix:
        perl-version: ${{ fromJson (needs.perl-versions.outputs.perl-versions) }}

    steps:
      - uses: actions/checkout@v4
      - name: Set up Perl
        run: |
          # skip installing perl if it is already installed.
          if (!(Test-Path "C:\strawberry\perl\bin")) {
            choco install strawberryperl
          }
          echo @"
          C:\strawberry\c\bin
          C:\strawberry\perl\site\bin
          C:\strawberry\perl\bin
          "@ |
            Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
      - run: perl -V
      - name: Deps for testing
        run: cpanm --notest Devel::CheckLib Alien::Sodium File::Slurper
      - run: perl Makefile.PL
      - run: make && ( make test || prove -wbvm t/*.t )
